pytest
git+git://github.com/rh-messaging-qe/iqa-common@devel#egg=iqa_common
git+git://github.com/rh-messaging-qe/messaging_abstract@devel#egg=messaging_abstract
git+git://github.com/rh-messaging-qe/messaging_components@devel#egg=messaging_components
docker
ansible
optconstruct
mock
reformat
autologging
odict
optconstruct
python-qpid-proton
